body {
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}
p {
    margin: 20px 0 20px 0px;
    line-height: 26px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
ul li, ol li {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 28px;
}
blockquote {
    background-color: #eef7fa;
    font-family: arial;
    font-size: 95%;
    margin: 0px;
    padding: 20px;
    border-left: 0px;
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0;
}
blockquote p {
    margin-top: 0px;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eee;
  text-align: center;
}
.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
}
.highlight pre{
  border: 0px;
}
.canvas-demo .form-inline{
  margin-top: 5px;
}
.canvas-demo .form-btn{
  text-align: right;
}
.canvas-demo canvas{
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  border: 1px solid #000000;
}
.post-title{
}
.post-date{
  display: block;
  color: #999;
  margin: 20px 0 20px 0px;
}
