.div_graph{
    border-style: solid;
    border-width: 1px;
}

svg {
    background-color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.8px;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

path.link.focused{
    stroke: red;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

circle.node {
    stroke-width: 1.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

.graph-demo .form-btn {
    text-align: right;
}

.graph-demo .form-inline{
    margin-top: 5px;
}

.input_data{
    width: 100%;
}